
h1 {
	color:       #aa7744;
	font-size:   300%;
	font-family: 'PTSansCaptionRegular', normal;
	font-weight: normal;
  line-height: 170%;
}

#header {
	text-align: center;
	padding: 1em 0 2em;
}

#subtitle {
	color: #ffffff;
	font-size: 150%;
}

table {
	font-size:   100%;
	padding:     10px 30px;
}
body {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-size:   150%;
	line-height: 150%;
	color:       #d2d4d6;
  background:  #333 url("../images/background.jpg") /*fixed*/;
	position:    relative;
	padding:     0 30px;
}


hr        { color: #000000; }
a         { color: #aa7744; }
a:focus   { color: #ddaa55; outline: 1px dotted; }
a:hover   { color: #ddaa55; outline: 1px dotted; }
a:visited { color: #bb8855; }

